@font-face {
  font-family: "Space Grotesk";
  src: url(fonts/SpaceGrotesk-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Space Grotesk-Medium";
  src: url(fonts/SpaceGrotesk-Light.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk";
}

.container {
  height: auto;
  background-color: black;
  background-image: url(img/naqsh.png), url(img/right-boll.png);
  background-repeat: no-repeat;
  background-position: left 133px, right 1045px;
}

.container .row {
  margin: 0 100px;
  padding-top: 39px;
}

.container .row .header {
  position: relative;
}

.container .row .about__us {
  width: 800px;
}

.container .row .about__us .col {
  color: #fff;
  margin-top: 100px;
}

.container .row .about__us .col h1 {
  font-family: 'Space Grotesk';
  font-size: 88px;
}

.container .row .about__us .col h1 span {
  border-bottom: 5px solid #4EE1A0;
}

.container .row .about__us .col p {
  margin-top: 43px;
  width: 445px;
  font-size: 18px;
  line-height: 28px;
}

.container .row .about__us .col .contact__me {
  margin-top: 66px;
  background-color: black;
  color: white;
  white-space: 15px;
  border: none;
  line-height: 26px;
  border-bottom: 3px solid #4EE1A0;
}

.container .row .about__us .col .contact__me:hover {
  color: #4EE1A0;
}

.container .row .about__us .my__photo {
  width: 445px;
  height: 720px;
  position: absolute;
  top: -100px;
  left: 950px;
}

.container .row .about__us .my__photo .col {
  position: relative;
  background-color: #242424;
}

.container .row .about__us .my__photo .col .links {
  float: right;
  padding-top: 39px;
  padding-right: 30px;
}

.container .row .about__us .my__photo .col .links a {
  margin: 0 10px;
  display: inline-block;
}

.container .row .about__us .my__photo .col .clear {
  clear: both;
}

.container .row .about__us .my__photo .col .img {
  padding-top: 110px;
}

.container .row .about__us .my__photo .col .img .man {
  margin-top: 50px;
}

.container .row .about__us .my__photo .col .img .boll {
  position: absolute;
  bottom: 80px;
  left: -60px;
}

.container .row .line {
  background-color: #fff;
  height: 1px;
  margin-top: 200px;
}

.container .row .skills {
  padding-top: 30px;
  padding-bottom: 50px;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .row .skills .skills__name {
  margin: 30px 0;
  width: 345px;
}

.container .row .skills .skills__name h2 {
  font-size: 48px;
}

.container .row .cards {
  color: #fff;
}

.container .row .cards .title__card {
  display: flex;
  justify-content: space-between;
}

.container .row .cards .title__card h1 {
  font-family: 'Space Grotesk';
  font-size: 88px;
}

.container .row .cards .title__card .contact__me {
  margin-top: 56px;
  height: 30px;
  background-color: black;
  color: white;
  white-space: 15px;
  border: none;
  line-height: 26px;
  border-bottom: 3px solid #4EE1A0;
}

.container .row .cards .title__card .contact__me:hover {
  color: #4EE1A0;
}

.container .row .cards .card__items {
  margin: 0 auto;
}

.container .row .cards .card__items img {
  width: 649px;
  height: 580px;
  margin: 20px 5px;
  float: left;
}

.container .row .cards .card__items .clear {
  clear: both;
}

.container footer {
  padding: 0 100px;
  height: auto;
  background-color: #242424;
  background-image: url(img/naqsh.png);
  background-repeat: no-repeat;
  background-position: left 300px;
  color: #fff;
}

.container footer .registratsion {
  padding: 84px 0;
  display: flex;
  justify-content: space-between;
}

.container footer .registratsion .text h1 {
  font-size: 88px;
  color: #fff;
}

.container footer .registratsion .text p {
  width: 400px;
  color: #D9D9D9;
  font-family: 'Space Grotesk-Medium';
}

.container footer .registratsion .input__group {
  width: 600px;
}

.container footer .registratsion .input__group input {
  width: 445px;
  padding: 25px 0;
  background-color: #242424;
  border: none;
  border-bottom: 2px solid #fff;
  display: inline-block;
}

.container footer .registratsion .input__group textarea {
  width: 445px;
  background-color: #242424;
  border: none;
  border-bottom: 2px solid #fff;
  display: inline-block;
}

.container footer .registratsion .input__group .submit {
  display: block;
  height: 10px;
  width: auto;
  margin-left: 345px;
  background-color: #242424;
  color: white;
  border: none;
  border-bottom: 3px solid #4EE1A0;
}

.container footer .registratsion .input__group .submit:hover {
  color: #4EE1A0;
}

.container footer .icons {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.container footer .icons .links_group .links a {
  margin: 0 10px;
}
